default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: username
  password: password
  host: localhost

development:
  <<: *default
  database: df_development

test:
  <<: *default
  database: df_test

production:
  <<: *default
  database: df_production
  username: df-rails
  password: <%= ENV['DF_DATABASE_PASSWORD'] %>
